<fieldset>
		<legend>Pick a Question Type</legend>
	<% @all_questions.each do |q| %>
		<div class="control-group">
			<%= label('answer','type', radio_button('question','id',q.id)+q.title , :class=>"radio")%>
		</div>
	<% end %>
</fieldset>
