<fieldset>
		<legend>Pick Some Question Types
			<small>(
			 <%=link_to_function 'all',"$('.question_type_chk').attr('checked','checked');"%>
			 |
			 <%=link_to_function 'none',"$('.question_type_chk').attr('checked',false);"%>
			 )</small>
		 </legend>

	<% @questions.each do |question| 
		type = question.key.underscore
	%>
		<div class="control-group">
			<%= label_tag('answer_type['+type+']',check_box_tag('answer_type['+type+']',1,nil,:class=>'question_type_chk') + question.title + " ("+type+")" , :class=>"checkbox")%>
		</div>
	<% end %>
</fieldset>
