<fieldset>
		<legend>Pick Some Question Types
			<small>(
			 <%=link_to_function 'all',"$('.question_type_chk').attr('checked','checked');"%>
			 |
			 <%=link_to_function 'none',"$('.question_type_chk').attr('checked',false);"%>
			 )</small>
		 </legend>

	<% @questions.each do |q| %>
		<div class="control-group">
			<%= label_tag('question['+q.id.to_s+']',check_box_tag('question['+q.id.to_s+']',1,nil,:class=>'question_type_chk') + q.title , :class=>"checkbox")%>
		</div>
	<% end %>
</fieldset>
