<fieldset>
		<legend>Pick Sample Sets of Articles
			<small>(
			 <%=link_to_function 'all',"$('.sampleset_chk').attr('checked','checked');"%>
			 |
			 <%=link_to_function 'none',"$('.sampleset_chk').attr('checked',false);"%>
			 )</small>
		 </legend>
	<% @all_sampletags.each do |tag,article_count| %>
		<div class="control-group">
			<%= label_tag('sampletag['+tag+']', check_box_tag('sampletag['+tag+']',1,nil,:class=>"sampleset_chk") + tag + " (" + article_count.to_s + " articles)" , :class=>"checkbox") %>
		</div>
	<% end %>
</fieldset>
