<html>
<head>
</head>
<body>
<div align="center">
  <form style="margin-top:200px; border:1px solid black; padding:50px; width:500px;" action="/session/create" method="post">
    <h1> MediaMeter Coder Sign-in</h1>
    <input type="text" name="username" value=""/><br/><br/>
    <input type="submit" name="submit" value="Sign In"/>
  </form>
</div>
</body>
