<% if gold %>

<div class="uwc-gold-reason">
	<p><%=gold.reason%></p>
	<%= form_for(gold,:remote=>true, :format=>'json') do |f| %>
		<%= f.text_field :reason, :class => '', :cols=>'60'%>
		<%= f.submit nil, :value=>'Update Gold Reason',:class => 'btn btn-primary' %>
	<% end %>
</div>

<% end %>
