<div class="row"> 
  <div class="well"<%if !@article.nil? %>id="<%=@article.id=%>"<%end%>>

<% if @article.nil? %>
  
    <div style="color:red; font-weight:bold;">No uncoded articles remaining</div>
    
<% else %>

    <h2><%= @article.headline =%></h2>
    <em><%= @article.source =%></em>
    <hr/>
    <p><%= @article.abstract =%></p>

<% end %>

  </div>
</div>
