<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <script type="text/javascript" language="Javascript" src="/scripts/prototype.js"></script>
    <title>Coding interface demo</title>
    <style type="text/css">
      body {
        padding-top: 60px;
        background-color: #fff;
        line-height: 1.5385em;
      }
    </style>

     <script language="Javascript" type="text/javascript">
      var article_counter = 1
  
      function alertmsg(e){
        var evtobj=window.event? event : e //distinguish between IE's explicit event object (window.event) and Firefox's implicit.
        var unicode=evtobj.charCode? evtobj.charCode : evtobj.keyCode
        var actualkey=String.fromCharCode(unicode)
        var current = $('articles').firstDescendant().firstDescendant();

        /*
        while(current!=null && (current.hasClassName('yes') || current.hasClassName('no'))){
          current = current.up().next().firstDescendant();
        }
        if(current == null){
          return null;
        }
        */
        if(actualkey=="y"){
          current.addClassName('yes');
          codeArticle("yes");
        }else if(actualkey=="n"){
           current.addClassName('no');
           codeArticle("no");
        }

      }

      //TODO: INCOMPLETE
      function codeArticle(answer){
        new Ajax.Request("/code/answer", {
          method: 'post',
          parameters: {id: 1, answer_type: "international", answer: answer},
          onSuccess: function(transport) {
            var notice = $('notice');
            $('articles').insert({top:transport.responseText});
          }
        });
        
      }
      
      function loadFirstArticle(){
        new Ajax.Request("/code/answer", {
          method: 'post',
          parameters: { answer_type: "international"},
          onSuccess: function(transport) {
            var notice = $('notice');
            $('articles').insert({top:transport.responseText});
          }
        });
      }
     </script>
  </head>
  <body onload="document.onkeypress=alertmsg; loadFirstArticle();">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <a class="brand" href="/">MediaMeter Coder</a>
        <ul class="nav">
          <li class="active"><a href="/">International</a></li>
          <li><a href="/sessions/browse">Foreign</a></li>
          <li><a href="/sessions/submit">National</a></li>
          <li><a href="/sessions/browse">Local</a></li>
          <li><a href="/Another thing/">Sport</a></li>
          <li><a href="/Another thing/">The Arts</a></li>
        </ul>
        <ul class="nav secondary-nav">

       <!--  <li><a href="/accounts/login">Sign in</a></li>-->

        </ul>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="hero-unit">
        <h1>Is this an International Story?</h1>
        <div class="container" id="articles">
        </div>
      </div>
    </div>
  </div>


  </body>

</html>
