<!--<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <title>Coding interface demo</title>
    <style type="text/css">
      body {
        padding-top: 60px;
        background-color: #fff;
        line-height: 1.5385em;
      }
    </style>
    <script type="text/javascript" language="Javascript" src="/scripts/prototype.js"></script>
    <script type="text/javascript" language="Javascript" src="/scripts/code_articles.js"></script>
  </head>-->
  <body onload="document.onkeypress=alertmsg; loadFirstArticle();">

  <input id="authenticity_token" name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <input id="answer_type" name="answer_type" type="hidden" value="national"/>


  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <a class="brand" href="/">MediaMeter Coder</a>
        <ul class="nav">
          <li><a href="/code/international">International</a></li>
          <li><a href="/code/foreign">Foreign</a></li>
          <li class="active"><a href="/code/national">National</a></li>
          <li><a href="/code/local">Local</a></li>
          <li><a href="/code/sport">Sport</a></li>
          <li><a href="/code/arts">The Arts</a></li>
        </ul>
        <ul class="nav secondary-nav">

       <!--  <li><a href="/accounts/login">Sign in</a></li>-->

        </ul>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="hero-unit">
        <h1>Is this an National Story?</h1>
        <div class="container" id="articles">
        </div>
      </div>
    </div>
  </div>


  </body>

<!--</html>-->
