// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #990000;

.uwc-agreement {
  text-align: center;
  display: block;
  width: 100px;
  height: 100px;
  padding: 5px;
}

.uwc-agreement em {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.uwc-agreement small {
  font-weight: bold;
  color: rgb(153,153,153);
}

.uwc-agreement-missing {
  background: $red;
  color: #ffffff;
  border-radius: 4px;
}

.uwc-agreement-forced {
  background-color: #f0e68c;
  border-radius: 4px;
}
