/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

textarea {
	width: 530px !important;	/* overriding a stupid bootstrap default value */
}

th small {
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
}

#uwc-loading {
	position:fixed;
	display: block;
	padding: 10px;
	padding-bottom: 0px;
	font-weight: bold;
	border-radius: 10px;
	border: 1px solid black;  
	width: 100px;
	top:50px;
	right:50px;	
	background: rgba(255,255,255,0.6);
}

.tableFloatingHeader {
	margin-top: 40px !important;
	background: #ffffff;
	border-bottom: 1px solid #999999;
}

.answer_1 {
	color: #1B9E77;
}

.answer_2 {
	color: #D95F02;
}

.answer_3 {
	color: #7570B3;
}

.answer_4 {
	color: #E7298A;
}

.answer_5 {
	color: #66A61E;
}

a.btn:visited {
	color: #ffffff;	
}
