// Place all the styles related to the Code controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.well.done{
  border: 1px solid #bbb;
  background-color:#eee;
  color:#999;
}
