<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <script type="text/javascript" language="Javascript" src="/scripts/prototype.js"></script>
    <script type="text/javascript" language="Javascript" src="/scripts/code_articles.js"></script>
    <title>Coding interface demo</title>
    <style type="text/css">
      body {
        padding-top: 60px;
        background-color: #fff;
        line-height: 1.5385em;
      }
    </style>
    <%= csrf_meta_tags %>
    </head>
  
  <%= yield %>

</html>
